button{
    padding: 0!important;
    
}
button:focus{
    border: 0px;
}
button:active{
    border: 0px;
}

#img-info {
    content: url(../includes/botones/normal/INFORMACIONNORMAL.png);
}
#img-pjs {
    content: url(../includes/botones/normal/PERSONAJES\ NORMAL.png);
}
#img-escn {
    content: url(../includes/botones/normal/ESCENARIO\ NORMAL.png);
}
#img-modo {
    content: url(../includes/botones/normal/MODO\ NORMAL.png);
}
#img-info-mecanica {
    content: url(../includes/botones/normal/INF\ MECANICA.png)
}
#img-info-historia {
    content: url(../includes/botones/normal/HISTORIA\ NORMAL.png)
}
/*HOVER POR SI SE QUIEREN USAR

#img-info:hover{
    content: url(../includes/botones/active/INFORMACION\ PUSH.png);
}         
#img-pjs:hover {
    content: url(../includes/botones/active/PERSONAJES\ PUSH.png);
}
#img-escn:hover {
    content: url(../includes/botones/active/ESCENARIO\ PUSH.png);
}
#img-modo:hover {
    content: url(../includes/botones/active/MODO\ PUSH.png);
}*/


  
#btn-info:focus img {
    content: url(../includes/botones/active/INFORMACION\ PUSH.png);
}
#btn-pjs:focus img {
    content: url(../includes/botones/active/PERSONAJES\ PUSH.png);
}
#btn-escn:focus img {
    content: url(../includes/botones/active/ESCENARIO\ PUSH.png);
}
#btn-modo:focus img {
    content: url(../includes/botones/active/MODO\ PUSH.png);
}
#btm-info:focus img {
    content: url(../includes/botones/active/INFORMACION\ PUSH.png)
}



.idiomas{
    display: flex;    
}
.idiomas button img{
    width: 3vw;
    height: 3vh;
}

#img-modo-vs{
    content: url(../includes/botones/normal/VS\ NORMAL.png);
}
#img-modo-arcade{
    content: url(../includes/botones/normal/ARCADE\ NORMAL.png);
}
#img-modo-cooperativo{
    content: url(../includes/botones/normal/COOPERATIVO\ NORMAL.png);
}
#img-modo-torneo{
    content: url(../includes/botones/normal/TORNEO\ NORMAL.png);
}

#btn-modo-vs:focus img{
    content: url(../includes/botones/active/VS\ PUSH.png);
}
#btn-modo-arcade:focus img{
    content: url(../includes/botones/active/ARCADE\ PUSH.png);
}
#btn-modo-cooperativo:focus img{
    content: url(../includes/botones/active/COOPERATIVO\ PUSH.png);
}
#btn-modo-torneo:focus img{
    content: url(../includes/botones/active/TORNEO\ PUSH.png);
}
#btn-info-mecanica:focus img{
    content: url(../includes/botones/active/INF\ MECANICA\ PUSH.png);
}
#btn-info-historia:focus img{
    content: url(../includes/botones/active/HISTORIA\ PUSH.png);
}
 /* button:active {
    color: var(--drk-pink);
  }
  
  button:active i {
    background-color: var(--drk-pink);
  }*/